@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --font-Header : 'Bebas Neue', sans-serif;
  --font--Template : 'Catamaran', sans-serif;
  --with-Color : #fff;
  --black-Color:#000;
}
.listElement{
  list-style: none;
}
.linkElement{
  text-decoration: none;
}
.bi{
  font-size: 1.8em;
}